/* Photo-grid's styles */

.photo-grid {
  max-width: 1184px;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid {
    max-width: 94%;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid {
    max-width: 90%;
  }
}
