/* Lead's styles */

.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .lead {
    max-width: 928px;
  }
}