.intro__wrapper {
    max-width: 690px;
  }
  
  @media screen and (max-width: 800px) {
    .intro__wrapper {
      max-width: 94%;
    }
  }

  @media screen and (max-width: 400px) {
    .intro__wrapper {
      max-width: 90%;
    }
  }