.place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
    column-gap: 16px;
  }
  
  @media screen and (max-width: 760px) {
    .place {
      grid-template-columns: 100%;
      row-gap: 32px;
    }
  }